* {
    box-sizing: border-box;
 }
  
 body {
    font-family: sans-serif;
 }
  
 .flex-container-column {
    display: flex;
  
    /* properti pendukung */
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
 }
  
 .flex-container-row {
    display: flex;
 }
  
 .button {
    flex-basis: 25%;
  
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
 }
  
 .double {
    flex-basis: 50%;
 }
 <!DOCTYPE html>
 <html>
  
 <head>
    <title>Web Calculator</title>
    <link rel="stylesheet" href="assets/style.css">
 </head>
  
 <body>
    <div class="flex-container-column">
        <div class="display">
            <h1 id="displayNumber">0</h1>
        </div>
        <div class="flex-container-row">
            <div class="button">7</div>
            <div class="button">8</div>
            <div class="button">9</